<div style="text-align:center">
  <h2>
    Example 1 - Basic Store
    
  <input type="text" [(ngModel)]="newProduct" placeholder="Enter new product" />
  <button (click)="create()">Save</button>

  <div *ngIf="selectedProduct">
    <input type="text" [(ngModel)]="selectedProduct.name">
    <button (click)="update()">Update</button>
  </div>

  <div *ngFor="let product of products$ | async">
    {{product.name}}
    <button (click)="select(product)">Select</button>
    <button (click)="delete(product)">Delete</button>
  </div>
</div>